{% extends "office/base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}
<div class="m2"> Fuck </div>
<form method='post' action='{% url "plugins:byro_groups:groups.list" %}'>
    {% csrf_token %}
    <div class="card member-form-card">
        <div class="card-body">
            {% bootstrap_form form layout='horizontal' %}
        </div>
        <div class="card-body">
            <button class="btn btn-primary" type="submit">{% trans "Add group" %}</button>
        </div>
    </div>
</form>


{% endblock %}