{% extends "office/base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}

<h1>Group {{ group.name }}</h1>

{% if subgroups %}
<table class="table table-bordered">
    <thead>
        <th>{% trans "Subgroups" %}</th>
        <th></th>
    </thead>
    <tbody>
        {% for subgroup in subgroups %}
            <tr>
                <td><a href="{% url "plugins:byro_groups:groups.members.list" pk=subgroup.pk %}" > {{ subgroup.subgroup.name }}</a></td>
                <td><a href="{% url "plugins:byro_groups:groups.members.remove" pk=group.pk list_id=subgroup.pk %}" class="btn btn-sm btn-danger">{% trans "remove" %}</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if lists %}
<table class="table table-bordered">
    <thead>
        <th>{% trans "Members" %}</th>
        <th></th>
    </thead>
    <tbody>
        {% for entry in group_members %}
            <tr>
                <td><a href="{% url "office:members.dashboard" pk=entry.member.pk %}" >{{ entry.member.name }}</a></td>
                <td><a href="{% url "plugins:byro_groups:groups.members.removemember" pk=entry.member.pk list_id=entry.group.id %}" class="btn btn-sm btn-danger">{% trans "remove" %}</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<form method='post' action='{% url "plugins:byro_groups:groups.members.add" pk=group.pk %}'>
    {% csrf_token %}
            {% bootstrap_form subgroupform layout='horizontal' %}
            <button class="btn btn-primary" type="submit">{% trans "Add group as subgroup" %}</button>
</form>


{% endblock %}